<div class="container mt-4">
  <form action="/restaurants/{{restaurant.id}}" method="POST">
    <div class="name">
      餐廳名稱: <input class="col-6 mb-3" type="text" placeholder="餐廳名稱" name="name" value="{{restaurant.name}}">
    </div>
    <div class="category">
      餐廳類型: <input class="col-6 mb-3" type="text" placeholder="餐廳類型" name="category" value="{{restaurant.category}}">
    </div>
    <div class="image">
      圖片網址: <input class="col-6 mb-3" type="text" placeholder="圖片網址" name="image" value="{{restaurant.image}}">
    </div>
    <div class="phone">
      電話: <input class="col-6 mb-3" type="text" placeholder="電話" name="phone" value="{{restaurant.phone}}">
    </div>
    <div class="google_map">
      地圖網址: <input class="col-6 mb-3" type="text" placeholder="Google地圖網址" name="google_map"
        value="{{restaurant.google_map}}">
    </div>
    <div class="location">
      地址: <input class="col-6 mb-3" type="text" placeholder="地址" name="location" value="{{restaurant.location}}">
    </div>
    <div class="rating">
      評價: <input class="col-6 mb-3" type="text" placeholder="請輸入數字" name="rating" value="{{restaurant.rating}}">
    </div>
    <div class="des">描述:</div>
    <textarea class="mt-3" name="description" rows="4" cols="80" class="d-block">{{restaurant.description}}</textarea>
    <div class="row">
      <button class="btn btn-primary col-2 mt-3 mb-5" type="submit">修改</button>
      <span class="mt-3 ml-5"><a href="/">返回首頁</a></span>
    </div>
  </form>
</div>